{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container first-element">
  <br>
  <div class="row justify-content-md-center align-items-start">




      <h3>Our Mission</h3>

      <p>When it comes to disaster relief, redundant donations have become an inordinate problem. Here at Donate Need, we aspire to better connect agencies to donators to get agencies the exact donations they need; nothing more, nothing less. Through our efforts we can aim for a more sustainable impact and better help those in need.</p>
    </div>
  <p>- DonateNeed</p>



  </div>
  <!-- <div class="row justify-content-md-center align-items-start">

    <div class="col-4">

      <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/fVeAI9dyD5ssIFyOyM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/OctoNation-work-construction-fVeAI9dyD5ssIFyOyM">This Page is UnderConstruction
      <br>
      via GIPHY</a></p> -->
    <!-- </div> -->
  </div>
</div>

{% endblock content %}
