{% extends "base.html" %}

{% load static %}

{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Active Causes</title>
    </head>

<div class="container first-element">
<br>
  <h2>Active Causes to Donate To</h2>


  <form method="POST">
   Filter by City
  {% csrf_token %}
  <select name="city_id">
    <option value="">None</option>
    {% for city in cities %}
    <option value="{{ city.id }}">{{ city }}</option>
    {% endfor %}
    <input type="submit" value="Filter" />
  </select>
  </form>
  <br>
  <br>
  <table class = "table table-bordered table-hover">
    <tr>
      <th>Cause</th>
      <th>Location</th>
      <th></th>
    </tr>
    {% for causes in Cause %}
      <tr>
        <td>{{ causes.title }}</td>
        <td>{{ causes.location }}</td>
        <td><a href="/cause/{{ causes.title }}" class="btn btn-info mb-2">Visit Cause Page For More Information</a></td>
      </tr>
    {% endfor %}
    </table>
    <a href="{% url 'createCause' %}" class="btn mb-2 btn-outline-info">Establish a Cause</a>
</div>
</html>

{% endblock %}
