{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% block content %}
<div class="container first-element">
  <br>
    <h2>Volunteer with an Agency Near You</h2>
    <br>

   <div class="container">
      <div class = "col-small">
         {% if not requests %}
         <p>There are no requests with the given filters.</p>
         {% endif %}
         <form method="POST">
           Filter by Agency
         {% csrf_token %}
         <select name="agency_id">
            <option value="">None</option>
            {% for agency in agencies %}
            <option value="{{ agency.id }}">{{ agency.name }}</option>
            {% endfor %}
         </select>
         Filter by Cause
        <form method="POST">
        {% csrf_token %}
        <select name="cause_id">
           <option value="">None</option>
           {% for cause in causes %}
           <option value="{{ cause.id }}">{{ cause.title }}</option>
           {% endfor %}
           <input type="submit" value="Filter" />
        </select>
         <br>
         <br>
         {% if requests %}
         <table class = "table table-bordered table-hover">
            <tr>
              <th>Number of Requested Volunteers</th>
              <th>Date</th>
              <th>Location</th>
              <th>Agency</th>
              <th>Cause</th>
              <th>Progress toward Volunteer Goal</th>
              <th></th>
            </tr>
            {% for request in requests %}
            <tr>
               <td>{{ request.number_of_volunteers }}</td>
               <td>{{ request.date_needed }}</td>
               <td>{{ request.location }}</td>
               <td><a href="/agencyProfile/{{ request.agency.username }}">{{ request.agency }}</a></td>
               <td><a href="/cause/{{ request.cause.username }}">{{ request.cause }}</a></td>
               <td>
                  <div class="progress">
                     <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow={{request.amount_fulfilled}} aria-valuemin="0" aria-valuemax={{request.number_of_volunteers}} style="width:{{request.percent_complete}}%">
                        {{request.percent_complete}}%
                     </div>
                  </div>
               </td>
               <td><a href="/PledgeToVolunteer/{{ request.id }}/" class = "btn mb-2 btn-outline-info">Pledge to Volunteer</a></td>
            </tr>
            {% endfor %}
         </table>
         {% endif %}
      </div>
   </div>
</div>

{% endblock %}
