{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container first-element">
  <br>
        <div class="col-4">
    <h1>Add a Request</h1>
    </div>
    <br>

    <form action="{% url 'addRequests' username %}"  method="post">
          {% csrf_token %}

            <p>Item: </p>{{form.item}}
            <p>Requested Amount: </p>{{form.amount_total}}
            <p>Size (Not Required - can be used to specify clothing sizes or package sizes): </p>{{form.size}}
            <p>Cause: </p>{{form.cause}}

            <br>
            <br>
    <div class="col-sm-4">
      <a href="{% url 'agencyRequestedDonations' username %}" class="btn mb-2 btn-outline-info">Cancel</a>
      <input type="submit" class="btn mb-2 btn-outline-info" value = "Add Donation Request"/>
    </div>
    </form>
  </div>

  {% endblock %}
