{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container first-element">
    <div class="row bg-info">
        <div class="col-4">
    <h1>Add a Request</h1>
    </div>
    </div>
    <br>

    <form action="{% url 'addRequests' username %}"  method="post">
          {% csrf_token %}

            <p>Item: </p>{{form.item}}
            <p>Requested Amount: </p>{{form.amount_total}}

            <br>
            <br>
    <div class="col-sm-4">
      <a href="{% url 'activeRequests' username %}" class="btn mb-2 btn-outline-info">Cancel</a>
      <input type="submit" class="btn mb-2 btn-outline-info" value = "Add Donation Request"/>
    </div>
    </form>
  </div>

  {% endblock %}
