{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid profileCard first-element">
  <div class="row">
    {% if not is_agency %}
      <a href="{% url 'agencySignUp' %}" class="btn mb-2 btn-outline-info">This organization does not exist yet. Register your organization here. Then add them to your page.</a>
    </div>
    {% endif %}
  {% if is_agency %}
    <div class="card col-5">
      <div class="profileImage"></div>
      <img src="{{ agency.picture.url }}" style="width:100%">
      <h1>{{ agency.name }}</h1>
      <p class="title">{{ agency.email }}</p>
      <p class="title">{{ agency.address }}</p>
      <p class="title">{{ agency.phone }}</p>
      <p><a href="{{ agency.url}}" class="profileCardContact">Visit Agency Website</a></p>

    </div>


  <div class="col-5">
  {% if agency.causes is not None %}
    <h3>Causes we support:</h3>
    {% for cause in agency.causes.all %}
    <a href="/cause/{{ cause.username }}" class ="btn mb-2 btn-outline-info">{{cause.title}}</a>
    {% endfor %}
  {% endif %}
{% endif %}
{% if is_personal_agency %}
<a href="/addAgency/{{username}}" class ="btn mb-2 btn-outline-info">Add other admin users to this agency</a>
<a href="/pledgeSupport/{{username}}" class ="btn mb-2 btn-outline-info">Add supported causes to this agency</a>
{% endif %}
</div>
</div>
</div>


{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static "javascript/profile.js"}">

</script>

{% endblock %}
