{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<br>
<div class="container first-element">
    <div class="row bg-info">
        <div class="col-4">
            <p>
                {{agency}}'s Volunteer Requests
            </p>
        </div>
    </div>
    <!-- {% for request in requests %}
    <p>{{request.item}}</p>
    {% endfor %} -->

    <div class="container">
    <div class = "col-small">
      {% if not requests %}
      <p>You currently have no volunteer requests</p>
      {% else %}
    <table class = "table table-bordered table-hover">
      <tr>
        <th>Number of Requested Volunteers</th>
        <th>Date</th>
        <th>Location</th>
        <th>Cause</th>
        {% if not is_admin %}
          <th></th>
        {% endif %}

      </tr>
      {% for request in requests %}
        <tr>
          <td>{{ request.number_of_volunteers }}</td>
          <td>{{ request.date_needed }}</td>
          <td>{{ request.location }}</td>
          <td>{{ request.cause }}</td>
          {% if is_admin %}
          <td>
            <a href="#" class = "btn mb-2 btn-outline-info" onclick="confirmDeleteModal({{request.id}})">Delete Request</a>
          </td>

          {% else %}
          <td><a href="/PledgeToVolunteer/{{ request.id }}/" class = "btn mb-2 btn-outline-info">Pledge To Volunteer</a></td>
          {% endif %}


        </tr>
      {% endfor %}
      {% endif %}
    </table>

    </div>
    {% if is_admin %}
    <a href = "{% url 'addVolunteerRequest' username %}" class="btn mb-2 btn-outline-info">Add Volunteer Request</a>
    {% endif %}

</div>
</div>


<div id="deleteModal" class="modal fade" role='dialog'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this request?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <span id= 'deleteButton'></span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
