{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid profileCard first-element">
	<br>
	<div class="row">
		{% if is_user %}
		{% if is_cause %}
		<div class="card col-sm-3">
			<div class="profileImage"></div>
			<h1>{{ cause_info.title }}</h1>
			<p class="title">{{ cause_info.location }}</p>
			<p><a href="{{ cause_info.title }}" class="profileCardContact">Contact</a></p>
		</div>
		{% elif not is_cause %}  <!-- end of if account, beginning of not account  -->
		<a href="{% url '' %}" class="btn mb-2 btn-outline-info">This cause does not exist. Return to the home page.</a>
		{% endif %}  <!-- end of if not account -->
		{% endif %}  <!-- end of if user, beginning of not user  -->
	</div>
	<br>
</div>
{% if articles %}
<div id="profile">
	<div class="container first-element">
		<h2>
			<div class="text-center">Related Articles</div>
		</h2>
		<div class="row">
			{% for article in articles %}
			<div class = "col-6">
				<a href={{ article.url }}>
					<h3>{{ article.title }}</h3>
					<img src={{ article.picture }} style="width:100%">
					<p>{{ article.description }}</p>
					<p>Read more</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div> 
{% endif %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{% static "javascript/profile.js"}">
</script>
{% endblock %}
