{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid profileCard first-element">
	<br>
	<div class="row">
		{% if is_user %}
		{% if is_cause %}
		<div class="card col-sm-3">
			<div class="profileImage"></div>
			<h1>{{ cause_info.title }}</h1>
			<p class="title">{{ cause_info.location }}</p>
		</div>
		{% elif not is_cause %}  <!-- end of if account, beginning of not account  -->
		<a href="{% url '' %}" class="btn mb-2 btn-outline-info">This cause does not exist. Return to the home page.</a>
		{% endif %}  <!-- end of if not account -->
		{% endif %}  <!-- end of if user, beginning of not user  -->
	</div>
	<br>
</div>
{% if not requests %}
<p>There are currently no open requests or requests with the selected filter.</p>
{% endif %}
{% if requests %}
<h3>Filters</h3>
<form method="POST">
 Agency
{% csrf_token %}
<select name="agency_id">
	<option value="">None</option>
	{% for agency in agencies %}
	<option value="{{ agency.id }}">{{ agency.name }}</option>
	{% endfor %}
	<input type="submit" value="Filter" />
</select>
<table class = "table table-bordered table-hover">
<tr>
  <th>Item</th>
  <th>Amount Total</th>
  <th>Amount Fulfilled</th>
  <th>Date Requested</th>
  <th>Completed</th>
	<th>Agency</th>
	<th>Progress</th>
	<th></th>
</tr>
{% for request in requests %}
  <tr>
    <td>{{ request.item }}</td>
    <td>{{ request.amount_total }}</td>
    <td>{{ request.amount_fulfilled }}</td>
    <td>{{ request.date_requested }}</td>
    <td>{{ request.is_complete }}</td>
		<td><a href="/agencyProfile/{{ request.agency.username }}">{{ request.agency }}</a></td>
		<td>
			 <div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
						 aria-valuenow={{request.amount_fulfilled}} aria-valuemin="0" aria-valuemax={{request.amount_total}} style="width:{{request.percent_complete}}%">
						 {{request.percent_complete}}%
					</div>
			 </div>
		</td>
		<td>
			 <a href="/finalSubmitDonation/{{ request.id }}/" class = "btn mb-2 btn-outline-info">Donate Item</a>
		</td>
  </tr>
{% endfor %}
{% endif %}
</table>
{% if articles %}
<div id="profile">
	<div class="container first-element">
		<h2>
			<div class="text-center">Related Articles</div>
		</h2>
		<div class="row">
			{% for article in articles %}
			<div class = "col-6">
				<a href={{ article.url }}>
					<h3>{{ article.title }}</h3>
					<img src={{ article.picture }} style="width:100%">
					<p>{{ article.description }}</p>
					<p>Read more</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{% static "javascript/profile.js"}">
</script>
{% endblock %}
