{% extends "base.html" %}

{% block title %}Registration{% endblock %}
{% block content %}
<div class="container first-element">

  <div class="row justify-content-md-left align-items-start">
    <h3>Profile Creator</h3>
  </div>

  <form action="{% url 'createProfile' %}" method="post">
    {% csrf_token %}

    {{ form.errors }}

      <div class="row">
        <p>Bio: {{ form.bio }}</p>
        <p>Agency: {{ form.agencies }}</p>
      </div>

      <input type="submit" class="button expanded" value="Create Profile" />
  </form>
</div>
{% endblock %}
