{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container first-element">
    <div class="row bg-dark">
        <div class="col-4">
            <p>
                This is the cause you are donating to.
            </p>
        </div>
    </div>

    <div class="row justify-content-end">

            <div id="add-show-donations" class="col-8 bg-info">
                <form @submit="submitDonations($data)" method="post">
                    <div v-for="(next, index) in donations">
                        <p>
                                {% csrf_token %}
                                {{ form.errors }}

                                <input v-model="next.item" type="text"> <input v-model="next.amount" type="number">
                        </p>
                    </div>
                    <div v-for="(next, index) in add_donations">
                        <p>
                                {% csrf_token %}
                                {{ form.errors }}

                                <input v-model="next.item" type="text"> <input v-model="next.amount" type="number">
                        </p>
                    </div>
                    <input type="submit" class="button expanded" value="submit" />
                </form>
                <button v-on:click="makeRequest">+</button>
            </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myVue.js" %}"></script>
{% endblock %}
