{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container first-element">
    <div class="row bg-danger">
        <div class="col-4">
            <p>
                This is the cause you are donating too.
            </p>
        </div>
    </div>

    <div class="row justify-content-end">
        
            <div id="add-show-donations" class="col-8 bg-primary">
                <div v-for="one in donation_size">
                        <input type="text"> <p><span id="demo">0</span></p>
                        <div v-on:click="updateDonation" class="slidecontainer">
                            <input type="range" min="0" max="100" value="0" class="slider" id="myRange">
                        </div>
                </div>
                <button v-on:click="makeRequest">+</button>
            </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script src="{% static "js/myVue.js" %}"></script>
{% endblock %}