{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Jumbotron Homepage -->
<div id="top" class="jumbotron jumbotron-fluid jumboImg">
  <div class="container slide-bottom" id="slogan">

      <h1 class="display-3 text-center ml3" style="color:white">Changing the World, one Step at a Time</h1>
  </div>

  <a href="#profile" class="scroll-down">

  	<div class="arrow bounce"></div>
  </a>
</div>


<div id="profile">
  <div class="container first-element">
    <div class="text-center">
      <a href="{% url 'signIn' %}" class="btn mb-2 btn-outline-info">Sign In</a>
    </div>
    <div class="container first-element">
      <div class="text-center">
        <a href="{% url 'SignUp' %}" class="btn mb-2 btn-outline-info">Sign Up</a>
      </div>


    <h2><div class="text-center">Causes to Donate to</div></h2>
    <div class="row">
     {% for article in articles %}
      <div class = "col-6">
        <a href={{ article.url }}>
        <h3>{{ article.title }}</h3>
        <img src={{ article.picUrl }} height="100">
        <p>{{ article.summary }}</p>
        <p>Read more</p>
        </a>
      </div>

      <div class="col-6">
        <br>
        <h3>Agencies Contributing to this Cause:</h3>
        <a href="https://www.redcross.org" class="btn mb-2 btn-outline-info">American Red Cross</a>
        <a href="http://www.ncchico.org/" class="btn mb-2 btn-outline-info">Neighborhood Church of Chico</a>
        <a href="https://www.redcross.org" class="btn mb-2 btn-outline-info">Northern Valley Catholic Social Service</a>
      </div>
    {% endfor %}

    </div>
  </div>
  <div class="text-center">
    <a href="{% url 'trending' %}" class="btn mb-2 btn-outline-info">View More</a>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-sm-12">
    <h2><div class="text-center">Agencies Near You</div></h2>
    <div class="card-columns p-2">

      {% for card in cards %}
        <div class="card">
          <img class="card-img-top p-2 night" src="{% static card.picUrl %}" onerror="this.style.display='none'">
          <div class="text">
            <h5>{{ card.name }}</h5>
            <p>{{ card.address }}</p>
            <p>{{ card.phone }}</p>
            <div class="text-center">
              <a href="{{ card.url }}" class="btn mb-2 btn-outline-info">Visit Website</a>
            </div>
            <a href ="{{ card.url }}" class="stretched-link"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="text-center">
    <a href="{% url 'agencies' %}" class="btn mb-2 btn-outline-info">View More</a>
  </div>
</div>

{% endblock content %}
