{% extends "base.html" %}

{% block title %}Registration{% endblock %}
{% block content %}
<div class="container first-element">
  <br>
  <div class="row justify-content-md-left align-items-start">
    <h3>Pledge Your Agency's Support for a Cause</h3>
  </div>
  <form action="{% url 'pledgeSupport' username %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {{ form.errors }}

      <div class="row">
        {{ form.as_p }}
      </div>

      <input type="submit" class="button expanded" value="Pledge Support" />
  </form>
  <br>
</div>
{% endblock %}
