{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid profileCard first-element">
  <div class="row">
    <div class="card col-sm-3">
      <div class="profileImage"></div>
      <img src="/static/media/defaultProfilePic.jpg" alt="Avatar" style="width:100%">
      <h1>{{ user.username }}</h1>
      <p class="title">{{ user.profile.bio }}</p>
      <p class="title">{{ user.profile.agencies }}</p>
      <p>User Info</p>
      <p><button class="profileCardContact">Contact</button></p>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static "javascript/profile.js"}">

</script>

{% endblock %}
