{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- <form class="form-inline first-element">
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 </form> -->
<div class="container first-element">
  <br>
  <h3><center>Trending News around Chico, CA</center></h3>
  <br>
  <br>
  <div class="row">

    {% for article in articles %}
     <div class = "col-6">
       <a href={{ article.url }}>
         <h3>{{ article.title }}</h3>
         <img src={{ article.picture }} style="width:100%">
         <p>{{ article.description }}</p>
         <p>Read more</p>
       </a>
     </div>

     <!-- <div class="col-6">
       <br>
       <h3>More about this event and agency supporters:</h3>
       <a href="https://www.redcross.org" class="btn mb-2 btn-outline-info">American Red Cross</a>
       <a href="http://www.ncchico.org/" class="btn mb-2 btn-outline-info">Neighborhood Church of Chico</a>
       <a href="https://www.redcross.org" class="btn mb-2 btn-outline-info">Northern Valley Catholic Social Service</a>
     </div> -->
   {% endfor %}
  </div>
</div>

{% endblock content %}
