{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container first-element">

  <h2><div class="text-center">
    {% csrf_token %}
    Welcome To The Team {{e}}!
  </div></h2>


      <br>
      <h3>Explore Our Website:</h3>
      <a href="{% url 'trending' %}" class="btn mb-2 btn-outline-info">Trending News</a>
      <a href="{% url 'about' %}" class="btn mb-2 btn-outline-info">Information About Us</a>
      <a href="{% url 'agencies' %}" class="btn mb-2 btn-outline-info">Agencies Near You</a>
      <br>

</div>



{% endblock content %}
