{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate Need {{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}
    {% endblock %}
</head>
<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">

    <a class="navbar-brand text-info" href="{% url 'home' %}">Donate Need</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="navbar-nav w-100 order-1 order-md-0">

        <a class="nav-item nav-link text-info"  href="{% url 'trending' %}">Trending News</a>
        <a class="nav-item nav-link text-info"  href="{% url 'agencies' %}">Agencies</a>
        <a class="nav-item nav-link text-info"  href="{% url 'about' %}">About</a>

        <div class="ml-auto px-auto">

          {% if not is_user %}
            <a class="btn btn-info" href="{% url 'signUp' %}" role="button">Sign Up</a>
            <a class="btn btn-outline-info" href="/login/" role="button">Sign In</a>
          {% endif %}
          {% if is_user %}

          <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <img src="{{ user.profile.picture.url }}", class="avatar">
            </button>

            <div class="dropdown-menu">
              <div class="dropdown-container">
                Signed in as<br>
                <strong>{{ user.username  }}</strong>
              </div>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'agencyProfile' %}">Your Organization</a>
              <a class="dropdown-item" href="{% url 'createProfile' %}">Upload Your Info</a>
              <a class="dropdown-item" href="{% url 'agencySignUp' %}">Create Organization</a>

              <div class="dropdown-divider"></div>

              <div class="dropdown-footer">
                <i class="glyphicon glyphicon-cog">Settings</i>
              </div>
            </div>

            <a class="btn btn-outline-info" href="/logout/" role="button">Logout</a>
          {% endif %}
        </div>

      </div>
    </div>
  </nav>

{% block content %}
{% endblock %}

<footer class="footer mt-auto">
  <p>Donate Need</p>
  <ul>
    <li><a href="{% url 'trending' %}"style="color:#FFFFFF;"><font size="-1">Trending News</font></a></li>
    <li><a href="{% url 'agencies' %}"style="color:#FFFFFF;"><font size="-1">Agencies Near You</font></a></li>
    <li><a href="{% url 'about' %}"style="color:#FFFFFF;"><font size="-1">About Us</font></a></li>
    {% if not is_user %}
      <li><a href="{% url 'signUp' %}"style="color:#FFFFFF;"><font size="-1">Sign Up </font></a></li>
    {% endif %}
    {% if is_user %}
      <li><a href="{% url 'createProfile' %}"style="color:#FFFFFF;"><font size="-1">Create Your Profile</font></a></li>
      <li><a href="{% url 'agencySignUp' %}"style="color:#FFFFFF;"><font size="-1">Sign Up Your Agency</font></a></li>
    {% endif %}
  </ul>
</footer>

</body>

{% block scripts %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>