{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Donate Need {{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <script src="{% static "js/modals.js" %}"></script>
    {% block css %}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock %}
</head>
<body>

<!-- Navigation -->
<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">

    <a class="navbar-brand text-info" href="{% url 'home' %}">Donate Need</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="navbar-nav w-100 order-1 order-md-0">

        <a class="nav-item nav-link text-info"  href="{% url 'trending' %}">Trending News</a>
        <a class="nav-item nav-link text-info"  href="{% url 'agencies' %}">Agencies</a>
        <a class="nav-item nav-link text-info"  href="{% url 'activeCauses' %}">Active Causes</a>
        <a class="nav-item nav-link text-info"  href="{% url 'activeVolunteerRequests' %}">Volunteering</a>

        <div class="ml-auto px-auto">

          {% if not is_user %}
            <a class="btn btn-info" href="{% url 'signUp' %}" role="button">Sign Up</a>
            <a class="btn btn-outline-info" href="/login/" role="button">Sign In</a>
          {% endif %}
          {% if is_user %}


          <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <img src="{{ user.profile.picture.url }}", class="avatar">
            </button>

            <div class="dropdown-menu">
              <div class="dropdown-container">
                Signed in as<br>
                <strong>{{ user.username  }}</strong>
              </div>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/profile/{{ user.username }}">Profile</a>
              {% if user.profile.agencies.username is not None %}
              <a class="dropdown-item" href="/agencyProfile/{{ user.profile.agencies.username }}">Your Organization</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'createProfile' %}">Update Your Profile</a>
              <a class="dropdown-item" href="{% url 'agencySignUp' %}">Create Agency</a>

            </div>


            <a class="btn btn-outline-info" href="/logout/" role="button">Logout</a>
        </div>
          {% endif %}


      </div>
    </div>
  </div>
  </nav>

{% if is_user %}
  <main class="flex-fill">
    {% endif %}

{% block content %}
{% endblock %}
{% if is_user %}
  </main>
  {% endif %}

<footer class="footer mt-auto">
  <p>Donate Need</p>
  <ul>
    <li><a href="{% url 'trending' %}"style="color:#FFFFFF;"><font size="-1">Trending News</font></a></li>
    <li><a href="{% url 'agencies' %}"style="color:#FFFFFF;"><font size="-1">Agencies Archive</font></a></li>
    <li><a href="{% url 'about' %}"style="color:#FFFFFF;"><font size="-1">About Us</font></a></li>
    {% if not is_user %}
      <li><a href="{% url 'signUp' %}"style="color:#FFFFFF;"><font size="-1">Sign Up</font></a></li>
    {% endif %}
  </ul>
    {% if is_user %}
    <ul>
      <li><a href="{% url 'createProfile' %}"style="color:#FFFFFF;"><font size="-1">Update Your Profile</font></a></li>
      <li><a href="{% url 'agencySignUp' %}"style="color:#FFFFFF;"><font size="-1">Sign Up Your Agency</font></a></li>
      <li><a href="{% url 'donationPredictor' %}"style="color:#FFFFFF;"><font size="-1">Donation Predictor</font></a></li>
    </ul>
    <ul>
      <li><a href="{% url 'createCause' %}"style="color:#FFFFFF;"><font size="-1">Establish a Cause</font></a></li>
      <li><a href="{% url 'activeDonations' %}"style="color:#FFFFFF;"><font size="-1">Active Donation Requests</font></a></li>
    </ul>
    {% endif %}
  <form method="GET" action='{% url "search" %}' class="navbar-form ml-auto form-inline px-auto" >
   <div class="form-group">
     <input type="text" value="{{request.GET.q}}" name="q" class="form-control search-field" placeholder="Search">
   </div>
   <button type="submit" class="btn btn-outline-info">Submit</button>
  </form>
</footer>
</div>
</body>


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}
</html>
